<p id="notice"><%= notice %></p>

<p>
  <strong>Judul:</strong>
  <%= @book.judul %>
</p>

<p>
  <strong>ID:</strong>
  <%= @book.author.id %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author.name %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
