<p id="notice"><%= notice %></p>

<p>
  <strong>Account num:</strong>
  <%= @account.account_num %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @account.supplier.name %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
